.image-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-cursor: hand;

}
.image-button:hover {
    -fx-opacity: 0.8;
}
.image-button:pressed {
    -fx-opacity: 0.6;
}

.boxed-label {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-background-color: white;
    -fx-alignment: center;
}